body{
  background-color:#8e44ed;
}

.container{
  display:flex;
  align-items:center;
  justify-content:center;
  width:100hw;
  height:100hv;
    
}

.display{
  background-color:white;
  display:flex;
  flex-wrap:wrap;
  width:420px;
}
*{
  box-sizing:border-box;
}
.box.active{
  opacity:0.6;
}
.box{
  align-items:center;
  justify-content:center;
  border:2px solid black;
   border-radias:4px;
  height:100px;
  color:#fff;
  cursor:pointer;
  margin:20px;
  font-size:40px;
  background-color:#8e44ed;
  width:100px;
}